<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wiki Path Finder</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

	<script>
        'use strict'
      $(function(){
          var host = '{{config.host}}';
          var socket = io.connect(host + '/link');
          var articleNames = [];
          var links = [];
          
          //We have to find the index because the Wikipedia API the links of the articles in a random order
          function findIndex(name, arr){
              if(name.indexOf(' ')>0){
                  name = name.substring(0, name.indexOf(' '));
              }
              for(var index =0; index < arr.length; index++){
                  if(arr[index].indexOf(name)>0){
                      return index;
                  }
              }
              
              return -1;
          }
          
          socket.on('news', function (data) {
              //$("#name").html(data);
              JSON.stringify(data);
              var articleData = '';
              for(var i =0; i<data.length; i++){
                  if (data.charAt(i) !== '\n' && i === data.length -1){
                        articleData += data.charAt(i);
                        articleNames.push(articleData);
                  }
                  else if(data.charAt(i) !== '\n'){
                        articleData += data.charAt(i);
                    //console.log(linkData);
                  } else {
                      //console.log(linkData);
                      articleNames.push(articleData);
                      articleData = '';
                  }
              }
              for(var i =0; i<articleNames.length; i++){
                  console.log(articleNames[i]);
              }
          });
          
          socket.on('news2', function (data) {
              //$("#link").html(data);
              JSON.stringify(data);
              var linkData = '';
              for(var i =0; i<data.length; i++){
                  if (data.charAt(i) !== '\n' && i === data.length -1){
                        linkData += data.charAt(i);
                        links.push(linkData);
                  }
                  else if(data.charAt(i) !== '\n'){
                        linkData += data.charAt(i);
                    //console.log(linkData);
                  } else {
                      //console.log(linkData);
                      links.push(linkData);
                      linkData = '';
                  }
              }
              
            for(var i =0; i<links.length; i++){
                  console.log(links[i]);
              }

//              for(var j =0; j<links.length; j++){
//                  console.log("Link: " + links[j] + " Article: " + articleNames[j]);
//              }
              //Put this here because articleNames gets pushed first 
              var html = '';
              for(var j =0; j<links.length; j++){
                  html += '<a href="'+links[findIndex(articleNames[j], links)]+'">'+articleNames[j]+'</a> <br>';
                $("#name").html(html);
              }
              
          });
        
      });
            
    </script>
</head>
<body>
   <!-- action="/" sends it to the "/" URL on the server 
       method attribute defines how the data is sent -->
    <form method="post" action="/link"> Input starting and ending Wikipedia Links.
       <br>
        <input type="text" name="start">
        <input type="text" name="end">
        <input type="submit" type="submit">

    </form>
    <p id="name"></p>
    <br>
    <p id="link"></p>
</body>
</html>
